@{
    ViewBag.Title = "主页";
}

<h2>@ViewBag.Message<small>-- 用C#和MVC5编写ASP.NET Web应用程序</small></h2>
<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped active" style="width: 100%"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>第1部分（1～8章）<small>基本技术</small></h3>
        <p>介绍ASP.NET MVC 编程基础、HTML5、CSS3、Bootstrap、jQuery以及数据库应用等基本用法。</p>
    </div>
    <div class="col-md-4">
        <h3>第2部分（9～10章）<small>高级技术</small></h3>
        <p>介绍Web API、OData、SVG、Canvas、WebGL等高级应用编程技术。</p>
    </div>
    <div class="col-md-4">
        <h3>附录<small>上机练习和综合设计</small></h3>
        <p>提供了与本书内容配套的上机练习题，以及通过小组成员共同合作完成的综合设计题。</p>
    </div>
</div>
