
@{
    ViewBag.Title = "ch02Index";
}

    <div class="jumbotron">
        <h2 class="text-danger">第2章 MVC编程基础</h2>
        <p class="text-primary">介绍MVC模式的工作原理，ASP.NET路由、MVC帮助器以及Razor视图引擎和Bootstrap的基本概念和最基本的用法</p>
    </div>

