<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center panel-title">
            栅格布局示例
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            <h4 class="text-center">金陵酒肆离别</h4>
            <h5 class="text-center">李白</h5>
            <p class="text-center">风吹柳花满店香，</p>
            <p class="text-center">吴姬压酒唤客尝。</p>
            <p class="text-center">金陵子弟来相送，</p>
            <p class="text-center">欲行不行各尽觞。</p>
            <p class="text-center">请君试问东流水，</p>
            <p class="text-center">别意与之谁短长。</p>
        </div>
        <div class="col-md-3">
            <h4 class="text-center">所思</h4>
            <h5 class="text-center">杜甫</h5>
            <p class="text-center">苦忆荆州醉司马，</p>
            <p class="text-center">谪官樽酒定常开。</p>
            <p class="text-center">九江日落醒何处，</p>
            <p class="text-center">一柱观头眠几回。</p>
            <p class="text-center">一柱观头眠几回。</p>
            <p class="text-center">欲问平安无使来。</p>
            <p class="text-center">故凭锦水将双泪，</p>
            <p class="text-center">好过瞿塘滟滪堆。</p>
        </div>
        <div class="col-md-6">
            <h4 class="text-center">一剪梅（李清照）</h4>
            <h5 class="text-center">杜甫</h5>
            <p class="text-center">红藕香残玉簟秋，轻解罗裳，独上兰舟。</p>
            <p class="text-center">云中谁寄锦书来？雁字回时，月满西楼。</p>
            <p class="text-center">花自飘零水自流，一种相思，两处闲愁。</p>
            <p class="text-center">此情无计可消除，才下眉头，却上心头。</p>
        </div>
    </div>
</div>
