<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center panel-title">
            12列布局（各占1格）
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
        <div class="col-md-1 bg-info">col-md-1</div>
        <div class="col-md-1 bg-primary">col-md-1</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center panel-title">
            2列布局（第1列占8格，第2列4格）
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-8 bg-info">col-md-8</div>
        <div class="col-md-4 bg-primary">col-md-4</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center panel-title">
            3列布局（各占4格）
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-4 bg-info">col-md-4</div>
        <div class="col-md-4 bg-primary">col-md-4</div>
        <div class="col-md-4 bg-warning">col-md-4</div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="text-center panel-title">
            2列布局（各占6格）
        </h3>
    </div>
    <div class="panel-body">
        <div class="col-md-6 bg-info">col-md-6</div>
        <div class="col-md-6 bg-primary">col-md-6</div>
    </div>
</div>