<div class="text-center bg-info">当小于12格时，可利用列偏移调整列的横向便宜位置</div>
<div class="row">
    <div class="col-md-6 border">col-md-6</div>
    <div class="col-md-2 border">col-md-2</div>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-3 border">col-md-6 col-md-offset-3</div>
    <div class="col-md-2 border">col-md-2</div>
</div>
<br />
<div class="row">
    <div class="col-md-6 col-md-offset-4 border">col-md-6 col-md-offset-4</div>
    <div class="col-md-2 border">col-md-2</div>
</div>
<style>
    .border {
        border: black solid 1px
    }
</style>
