<div class="col-lg-6">
    <h2>text前缀（常规大小）</h2>
    <div class="text-muted">muted语义的前景色（text-muted）</div>
    <div class="text-primary">primary语义的前景色（text-primary）</div>
    <div class="text-success">success语义的前景色（text-success）</div>
    <div class="text-info">info语义的前景色（text-info）</div>
    <div class="text-warning">warning语义的前景色（text-warning）</div>
    <div class="text-danger">danger语义的前景色（text-danger）</div>
</div>
<div class="col-lg-6">
    <h2>text前缀（指定大小为h3）</h2>
    <h3 class="text-muted">前景色（text-muted）</h3>
    <h3 class="text-primary">的前景色（text-primary）</h3>
    <h3 class="text-success">前景色（text-success）</h3>
    <h3 class="text-info">前景色（text-info）</h3>
    <h3 class="text-warning">前景色（text-warning）</h3>
    <h3 class="text-danger">前景色（text-danger）</h3>
</div>
