<div class="col-lg-3">
    <div class=" text-center  btn-default">btn-前缀（常规大小）</div>
    <div class="  btn-default">（btn-primary）</div>
    <div class="  btn-primary">（btn-primary）</div>
    <div class="  btn-success">（btn-success）</div>
    <div class="  btn-info">（btn-info）</div>
    <div class="  btn-warning">（btn-warning）</div>
    <div class="  btn-danger">（btn-danger）</div>
</div>
<div class="col-lg-3">
    <div class=" text-center btn-lg btn-default">btn-前缀（lg）</div>
    <div class="btn-lg btn-default">（btn-primary）</div>
    <div class="btn-lg btn-primary">（btn-primary）</div>
    <div class="btn-lg btn-success">（btn-success）</div>
    <div class="btn-lg btn-info">（btn-info）</div>
    <div class="btn-lg btn-warning">（btn-warning）</div>
    <div class="btn-lg btn-danger">（btn-danger）</div>
</div>
<div class="col-lg-3">
    <div class=" text-center btn-sm btn-default">btn-前缀（sm）</div>
    <div class="btn-sm btn-default">（btn-primary）</div>
    <div class="btn-sm btn-primary">（btn-primary）</div>
    <div class="btn-sm btn-success">（btn-success）</div>
    <div class="btn-sm btn-info">（btn-info）</div>
    <div class="btn-sm btn-warning">（btn-warning）</div>
    <div class="btn-sm btn-danger">（btn-danger）</div>
</div>
<div class="col-lg-3">
    <div class=" text-center btn-xs btn-default">btn-前缀（xs）</div>
    <div class="btn-xs btn-default">（btn-primary）</div>
    <div class="btn-xs btn-primary">（btn-primary）</div>
    <div class="btn-xs btn-success">（btn-success）</div>
    <div class="btn-xs btn-info">（btn-info）</div>
    <div class="btn-xs btn-warning">（btn-warning）</div>
    <div class="btn-xs btn-danger">（btn-danger）</div>
</div>
