<div class="text-center bg-info">bg前缀</div>
<div class="bg-primary">primary语义的背景色（bg-primary）</div>
<div class="bg-success">success语义的背景色（bg-success）</div>
<div class="bg-info">info语义的背景色（bg-info）</div>
<div class="bg-warning">warning语义的背景色（bg-warning）</div>
<div class="bg-danger">danger语义的背景色（bg-danger）</div>
