<style>
    .a1{ margin-left: 10px;color: blue;}
</style>
<div class="list-group">
    <div class="list-group-item">
        <span>例1：</span>
        @Html.ActionLink("欢迎1","Welcome","ch02Demos",new { id = "1" , name = "张三" },new { @class="a1" })
        @Html.ActionLink("欢迎2","Welcome","ch02Demos",new { id = "2" , name = "张三" },new { @class="a1" })
        @Html.ActionLink("欢迎3","Welcome","ch02Demos",new { id = "3" , name = "张三" },new { @class="a1" })
    </div>
</div>
<pre>
@ViewBag.Message
</pre>