<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">RendPage方法的基本用法</h3>
    </div>
    <div class="panel-body">
        @RenderPage("Partial1.cshtml") 
        @RenderPage("PartialPage1.cshtml", new { name = "张三", age = 20 })
    </div>
</div>
