<div class="row">
    <div class="col-md-6">
        <h4 class="bg-success">ViewData用法1（单个数据）</h4>
        <p>姓名：@ViewData["Name"]</p>
        <h4 class="bg-success">ViewData用法2（多个数据）</h4>
        <ul class="list-inline">
            <li>喜欢的颜色：</li>
            @foreach (var v in ViewData["MyColors"] as List<string>)
            {
                var c = v.Split(',');
                <li style="color: @c[0]">@c[1]</li>
            }
        </ul>
    </div>
    <div class="col-md-6">
        <h4 class="bg-success">ViewBag用法1（单个数据）</h4>
        <p>姓名：@ViewBag.Name</p>
        <h4 class="bg-success">ViewBag用法2（多个数据）</h4>
        <ul class="list-inline">
            <li>喜欢的颜色：</li>
            @foreach (var v in ViewBag.MyColors as List<string>)
            {
                var c = v.Split(',');
                <li style="color: @c[0]">@c[1]</li>
            }
        </ul>
    </div>
</div>