@model BookExamples.Areas.Chapter03.Models.MyStudentModel
@using (Ajax.BeginForm(new AjaxOptions()))
{
    <div class="center-block text-center" style="width: 260px; border: 1px solid red; padding: 10px">
        <label>学号：@Html.TextBoxFor(x=>x.XueHao)</label><br />
        <label>姓名：@Html.TextBoxFor(x=>x.XingMing)</label><br />
        <label>性别：@Html.TextBoxFor(x=>x.XingBie)</label><br />
        <label>年龄：@Html.TextBoxFor(x=>x.NianLing)</label><br />
        <input type="submit" class="btn btn-primary" value="提交" />
    </div>
}
