<ul class="nav navbar-nav">
    <li>@Html.ActionLink("例1-各章布局示意", "Index", "ch01NavDemos", new { id = "LayoutDemo" }, null)</li>
    <li>@Html.ActionLink("例2-获取Web服务器信息", "Index", "ch01NavDemos", new { id = "ServerInfo" }, null)</li>
</ul>

